body {
	background: #990000;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('SourceSansPro-Regular.otf');
}

@font-face {
    font-family: 'HelveticaNeue Bold';
    src: url('Helvetica Neu Bold.ttf');
}

.alert {
	text-align: center;
	font-size: 20px;
}

.banner {
	background: white!important;
	width: 100%;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 20px;
	padding-top: 10px;
	color: #990000;
	font-family: 'SourceSansPro-Regular';
	font-size: 36px;
}

.img-fluid{
	display: block;
  	max-width:850px;
  	max-height:600px;
  	width: 740px;
  	height: 563px;
  	padding-top: 10px;
}

p {
	font-family: 'SourceSansPro-Regular';
	font-size: 30px;
	color: #ffcc00;
	padding-top: 15px;

}

.col-md-4 {
	float: left;
}

.panel {
	font-family: 'HelveticaNeue';
	margin-bottom: 10px;
}

.panel-default > .panel-heading {
  background-color: #2c2621;
  color: white!important;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
  margin-bottom: 10px;
  margin-top: 8px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #990000;
  background-color: #ffb31a;
  border-color:  #ffcc66;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #990000;
  background-color: #ffbb33;
  border-color:  #ffcc66;
}

/***********************
  GRADIENT BUTTONS
************************/
.btn-primary.gradient {
    background: -moz-linear-gradient(top,  #ffcc66 50%, #ffd480 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffcc66), color-stop(50%,#ffd480)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffcc66 50%,#ffd480 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffcc66 50%,#ffd480 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffcc66 50%,#ffd480 50%); /* IE10+ */
    background: linear-gradient(to bottom, #ffcc66 50%,#ffd480 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc66', endColorstr='#ffd480',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
    background: -moz-linear-gradient(top,  #ffc34d 50%, #ffcc66 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,##ff8080), color-stop(50%,#ffcc66)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffc34d 50%,#ffcc66 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffc34d 50%,#ffcc66 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffc34d 50%,#ffcc66 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffc34d 50%,#ffcc66 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc34d', endColorstr='#ffcc66',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:active, .btn-primary.gradient.active {
    background: -moz-linear-gradient(top,  #ffaa00 50%, #ffbb33 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffaa00), color-stop(50%,#ffbb33)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffaa00 50%,#ffbb33 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffaa00 50%,#ffbb33 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffaa00 50%,#ffbb33 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffaa00 50%,#ffbb33 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa00', endColorstr='#ffbb33',GradientType=0 ); /* IE6-9 */
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #ffd480;
    color: #990000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #ffcc66;
}
.btn-primary:active, .btn-primary.active {
    background: #ffaa00;
    box-shadow: none;
}

#clockbox {
	font-size: 30px;
	text-align: center;
	color: #fff;
	font-family: 'HelveticaNeue Bold'
}

#welcome {
	font-family: 'SourceSansPro-Regular';
	color: #ffcc00;
	text-align: center;
	font-size: 36px;
}

h1 {
	font-family: 'SourceSansPro-Regular';
	color: #ffcc00;
	padding-top: 15px;
	text-align: center;
}

#login {
	font-family: 'HelveticaNeue Bold';
    width: 100%;
}

#login td, #login th {
	border: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
    padding-left: 20px;
    font-size: 10px;
    font-style: bold;
}

#login tr:nth-child(even){background-color: #f2f2f2;}

#login tr:hover {background-color: #ddd;}

#login th {
    text-align: left;
    background-color: #2c2621;
    color: white;
    font-size: 15px;
}

.modal-dialog {
	text-align: center;
}

.well {
	text-align: center;
	background-color: #660000;
}

.form-control {
	margin-bottom: 10px;
	height: 50px;
	font-size: 20px;
	font-style: 700;
	text-align: center;
}

label {
	font-size: 15px;
	font-family: 'HelveticaNeue Bold'; 
	color: #fff;
	margin-bottom: 10px;
}

.footer-bottom {
	background: #2c2621;
	border-top: 1px solid #DDDDDD;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-top: 25px;
}

#footer {
	padding-top: 6px;
	font-size: 15px;
}

hr {
	background: #ffb31a;
	margin: 0;
	border-width: 3px;
}